#root {
  max-width: 1280px;

  padding: 2rem;
  text-align: center;
}

body {
  margin: 0 auto;
  background-color: rgb(52, 52, 52);
}


.task {

  width: 300px;
  height: 45px;
  background-color: grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}