#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.formTodo {
  display: grid;
  max-width: 700px;
  grid-template-columns: 1fr 20%;
  border-radius: 8px;

  input {
    border-radius: 8px;
    height: 50px;
    width: 565px;
  }
  button {
    border-radius: 8px;
    height: 58px;
    width: 130px;
  }
}
