.App {
  display: grid;
  place-items: center;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .header h1 {
    font-size: 15px;
  }
  /* CSS для телефонов, в том числе больших моделей */
}

.content {
  max-width: 700px;
  width: 100%;
}
.header {
  display: grid;
  align-items: center;
  font-size: 64px;

  justify-content: center;
  width: 100%;
  height: 100px;
}
.formTodo {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
  margin-top: 20px;
  height: 40px;
  width: 100%;
  max-width: 700px;
}
