#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.formTodo {
  display: grid;
  grid-template-columns: 1fr 20%;
  grid-template-rows: max-content;
  width: 700px;
}
