#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.formTodo {
  display: grid;

  grid-template-columns: 1fr 20%;

  input {
    height: 50px;
  }
  button {
    height: 58px;
  }
}
