.tasks {
  display: grid;

  grid-template-areas: "check name del";
  grid-template-columns: 22px 1fr 20%;

  color: black;
  width: 700px;
}
.taskCheckbox {
  grid-area: check;
  justify-content: center;
  align-self: center;
  width: 20px;
  height: 20px;
  accent-color: white;
}
.btnDel {
  grid-area: del;
}
.nameTask {
  display: grid;
  justify-content: start;
  align-items: start;
  padding-left: 5px;
  font-size: 22px;
  grid-area: name;
}
