.tasks {
  display: grid;

  grid-template-areas: "check name data del";
  grid-template-columns: 22px 1fr 20% 20%;
  background-color: rgb(220, 96, 8);
  margin-top: 5px;
  color: black;
  width: 100%;
  border-radius: 8px;
}
.taskCheckbox {
  grid-area: check;
  justify-content: center;
  align-self: center;
  width: 20px;
  height: 20px;
  accent-color: white;
}
.btnDel {
  grid-area: del;
}
.data {
  justify-content: center;
  align-self: center;
  grid-area: data;
}
.nameTask {
  display: grid;
  justify-content: start;
  align-items: start;
  padding-left: 5px;
  font-size: 22px;
  grid-area: name;
}
