.tasks {
  display: grid;

  grid-template-areas: "check name data del";
  grid-template-columns: 20px 1fr 20% 142px;
  background-color: rgb(220, 96, 8);
  margin-top: 20px;
  color: black;
  width: 100%;
  max-width: 700px;
  border-radius: 8px;
}
.taskCheckbox {
  grid-area: check;
  justify-content: center;
  align-self: center;
  width: 20px;
  height: 20px;
  accent-color: white;
}
.btnDel {
  grid-area: del;
}
.data {
  justify-content: center;
  align-self: center;
  grid-area: data;
}
.nameTask {
  display: grid;
  align-items: center;
  padding-left: 5px;
  text-align: start;

  font-size: 22px;
  grid-area: name;
}
